:css
  td {
    -webkit-transition: 3s ease-in-out;
    -webkit-transform-origin: 25% 25%;
    font-size: 150%;
  }
  
:javascript
  $(function(){
    $('td').mouseover(function(){
      $(this).css('-webkit-transform', 'rotate(1080deg)');
    
        if ($(this).text() === "♥") {
          $(this).text("♡");
          $(this).css('color','#0f0');
        }
        else {
          $(this).text("♥");
          $(this).css('color','#f00');
        };
    });
  });
%a{:href => "/"} Back

%h1 heart full test  
%table
  %tbody
  - 16.times do
    %tr
    - 24.times do
      %td ♥
