:css
  td {
    -webkit-transition: 2s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    font-size: 150%;
  }
  
:javascript
  $(function(){
    $('tr td').mouseover(function(){
      var $this = $(this);
      $this.css('text-shadow', '0 4px #ff0,0 -4px #0ff,4px 0 #f0f,-4px 0 #0f0');
     
      var v = $this.text().charCodeAt(0);
          $this.text(String.fromCharCode(v+1));
          $this.css('color','#030');
     });
  });
%a{:href => "/"} Back

%h1 metamorphose test
%table
  %tbody
  - 16.times do
    %tr
    - 24.times do
      %td ♥
