:css
  #moji {
    color: brown;
    font-size: 400%
  }
:javascript 
  $(function(){
    var a = $('td#a').text().charCodeAt(0)+1;
    var b = $('td#b').text().charCodeAt(0)+1;
    
    $('td#a').mouseover(function(){
      for (var i = 0; i < 100; i++){
        a = $(this).text().charCodeAt(0)+1;
      }
      $(this).text(String.fromCharCode(a));
      $('td#ab').text(String.fromCharCode(a*b));          
      console.log($('tr').text());
    })
    $('td#b').mouseover(function(){
      for (var i = 0; i < 100; i++){
        b = $(this).text().charCodeAt(0)+1;
      }
      $(this).text(String.fromCharCode(b));
      $('td#ab').text(String.fromCharCode(a*b));          
      console.log($('tr').text());
    })
  })

%a{:href => "/"} Back

%h1 char code multiplication
#moji
  %table
    %tr
      %td{:id => 'a'} ⚐
      %td ×
      %td{:id => 'b'} ⚑
      %td ＝
      %td{:id => 'ab'} ?